* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 800px;
    height: 40px;
    background-color: #eeeeee;
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    float: left;
    text-align: center;
    width: 160px;
    line-height: 40px;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    color: #424242;
}

.nav ul li a:hover {
    background-color: #424242;
    color: white;
}

.nav ul li ul {
    display: none;
    width: 160px;
    position: absolute;
}

.nav ul li ul li {
    float: none;
    background-color: #eeeeee;
}

.nav ul li ul li a:hover {
    background-color: #009933;
}

.nav ul li:hover ul {
    display: block;
}

p {
    width: 800px;
    margin: 16px auto 0;
    font-size: 1.6em;
}